<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>El cliente: {{usuarioactual.Usuario.nombre}} {{usuarioactual.Usuario.apellido}}</h1>
    <h1>Direccion de cliente: {{usuarioactual.Usuario.direccion}}</h1>
    <h1>Email del cliente: {{usuarioactual.Usuario.email}} </h1>
    <h1>Celular del cliente: {{usuarioactual.Usuario.telefono}} </h1>

    <h1>Compro los siguientes items para su despacho </h1>

    {% for user in users %}
     <p>{{user.nombre}} por un precio de {{user.precio}} pesos y una cantidad de {{user.cantidad}} unidades</p>
    {% endfor %}
    <h1>Para un total de {{users[0].total}} pesos</h1>
<p>Favor despachar a la brevedad</p>
</body>
</html>